:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-txt-color: #757575;
  --secondary-txt-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-color-black: #000000;
  --secondary-bg-color: #2f303a;
  --bg-color-hero: rgba(47, 48, 58, 0.4);
  --btn-bg-color: #f5f4fa;
  --bg-second-color: #c4c4c4;
  --btn-color-hover: #188ce8;
  --bg-line-color: #ececec;
  --bg-frame-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-color-bg: #44454e;
  --order-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --rgba-white-color: rgba(255, 255, 255, 0.6);
  --box-shadow-color: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-sec-color: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-carts: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  --transmition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transmition-timing: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  width: 100%;
  overflow-y: scroll;
  font-family: var(--main-font);
  background-color: var(--main-white-color);
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-size: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container__header {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container__footer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container__footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    display: flex;
    flex-flow: row;
    align-items: baseline;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-txt-color);
  margin: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0px;
}

.header {
  border-bottom: 1px solid var(--bg-line-color);
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: center;
  }
  .header .container__header {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  background-color: var(--main-white-color);
  color: var(--accent-color);
  text-decoration: none;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 22px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    display: inline-block;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    margin-left: 0;
  }
}

.logo-dark {
  color: var(--logo-color-black);
  text-decoration: none;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.site-nav {
  display: flex;
  align-items: baseline;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: flex;
  align-items: center;
  color: var(--secondary-txt-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transmition-timing) var(--transmition-function);
  position: relative;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.site-nav__link--color {
  color: var(--accent-color);
}

.site-nav__link--color::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: opacity var(--transmition-timing) var(--transmition-function);
}

/* Contacts */
.contacts {
  display: none;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 84px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    display: block;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.17;
  }
  .contacts .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: var(--secondary-txt-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color var(--transmition-timing) var(--transmition-function);
  color: var(--main-txt-color);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: flex;
    line-height: 1.14;
    font-style: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  margin-right: 8px;
  fill: var(--main-txt-color);
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    vertical-align: middle;
    margin-right: 10px;
  }
  .contacts__icon--email-width {
    width: 16px;
    height: 12px;
  }
  .contacts__icon--phone-width {
    width: 10px;
    height: 16px;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.site-nav__link:hover .contacts__icon,
.site-nav__link:focus .contacts__icon {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  background-image: linear-gradient(to bottom, var(--bg-color-hero), var(--bg-color-hero)), url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-second-color);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__title {
  color: var(--main-white-color);
  font-weight: 900;
  line-height: 1.61;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) {
  .hero__title {
    text-transform: uppercase;
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.37;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--hero-btn-shadow);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  transition: color var(--transmition-timing) var(--transmition-function);
}

@media screen and (min-width: 480px) {
  .hero__btn {
    min-width: 200px;
    max-width: 300px;
    min-height: 50px;
  }
  .hero__btn:hover, .hero__btn:focus {
    background-color: var(--btn-color-hover);
  }
}

/* features */
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    height: 251px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .features__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--btn-bg-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__wrapper {
    width: 270px;
    margin-bottom: 30px;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  flex-wrap: wrap;
}

/* About work */
@media screen and (max-width: 1200px) {
  .section--hiding {
    display: none;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  font-size: 0px;
}

.work__item:not(:first-child) {
  margin-left: 30px;
}

.work__wrapper {
  position: relative;
}

.work__subtitle {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--main-white-color);
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

/* About team */
.section__title--position {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title--position {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team__item {
  background: var(--main-white-color);
  box-shadow: var(--box-shadow-sec-color);
  font-size: 0px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    height: 536px;
    width: calc(100% - 30px)/2;
    margin-bottom: 30px;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    height: 428px;
    margin-bottom: 0;
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0px;
  }
}

.team__image {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .team__image {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team__image {
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
    height: 260px;
  }
}

.team__box {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-color);
  margin: 0px;
  margin-bottom: 10px;
}

.team__text {
  color: var(--main-txt-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color var(--transmition-timing) var(--transmition-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.section--bg-color {
  background-color: var(--btn-bg-color);
}

/* Regular clients */
@media screen and (max-width: 479px) {
  .client {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .client {
    display: flex;
    flex-wrap: wrap;
  }
}

.client__item {
  height: 92px;
}

@media screen and (max-width: 479px) {
  .client__item {
    width: calc((100% - 30px) / 2);
    max-width: 210px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item {
    width: calc((100% - 30px) / 2);
  }
  .client__item:not(:nth-child(2n+2)) {
    margin-right: 30px;
  }
  .client__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
  .client__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .client__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: flex;
  height: 92px;
  font-size: 0;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;
  transition: fill var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function), border var(--transmition-timing) var(--transmition-function);
}

.client__link:hover, .client__link:focus {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.client__icon {
  fill: var(--icon-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

/* Footer section */
.footer {
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts-wrapper--disposition {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
  }
}

.logo-light {
  color: var(--main-white-color);
  text-decoration: none;
}

.contacts-list {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    text-align: left;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts-list__link,
.contacts-list__link--map {
  font-style: normal;
  color: var(--rgba-white-color);
  text-decoration: none;
  transition: color var(--transmition-timing) var(--transmition-function);
}

.contacts-list__link--map {
  color: var(--main-white-color);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--accent-color);
}

/* Networks */
.networks {
  align-items: baseline;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .networks {
    margin-bottom: 20px;
  }
}

.networks__title {
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-white-color);
  margin-bottom: 20px;
  padding-bottom: 0px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .networks__title {
    text-align: left;
  }
}

.networks .networks-list--flex {
  display: flex;
  align-items: baseline;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--icon-color-bg);
  border-radius: 50%;
  transition: color var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function);
}

.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-color);
}

.link__icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

/* Subscribe */
.subscribe-form {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: 93px;
    align-items: baseline;
  }
}

.subscribe-form__title {
  font-weight: 700;
  line-height: 1.17;
  font-size: 14px;
  color: var(--main-white-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__title {
    text-align: left;
  }
}

.subscribe-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  max-width: 450px;
  width: calc(100vw - 30px);
  height: 50px;
  align-items: baseline;
  color: var(--main-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: var(--hero-btn-shadow);
  margin-bottom: 20px;
  outline: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: baseline;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--hero-btn-shadow);
  transition: box-shadow var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function);
  cursor: pointer;
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--btn-color-hover);
}

.subscribe-btn__icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  fill: var(--main-white-color);
}

/* Panel-btn */
.panel-btn--disposition {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px 8px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .panel-btn--disposition {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .panel-btn--disposition {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .panel-btn--disposition {
    margin-bottom: 50px;
  }
}

.panel-btn__button {
  min-width: 73px;
  max-width: 200px;
  min-height: 38px;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  color: var(--secondary-txt-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: color var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function), box-shadow var(--transmition-timing) var(--transmition-function);
}

.panel-btn__button:hover, .panel-btn__button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-color);
}

/* Project */
@media screen and (min-width: 768px) {
  .project-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-grid__item {
  font-size: 0px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .project-grid__item {
    width: calc((100% - 30px) 2);
    width: 354px;
  }
  .project-grid__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-grid__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .project-grid__item:nth-child(3n) {
    margin-right: 0px;
  }
  .project-grid__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.project-grid__link {
  display: block;
  font-style: normal;
  color: var(--main-txt-color);
  text-decoration: none;
  transition: box-shadow var(--transmition-timing) var(--transmition-function);
}

.project-grid__link:hover, .project-grid__link:focus {
  box-shadow: var(--box-shadow-carts);
}

.project-grid__wrapper {
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.project-grid__card {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .project-grid__card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-grid__card {
    width: 370px;
  }
}

.project-grid__detals {
  padding: 20px 24px;
  width: 450px;
  border-left: 1px solid var(--bg-frame-color);
  border-right: 1px solid var(--bg-frame-color);
  border-bottom: 1px solid var(--bg-frame-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-grid__detals {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-grid__detals {
    width: 370px;
  }
}

.project-grid__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;
}

.project-grid__text {
  font-size: 16px;
  line-height: 1.88;
}

/* blue-box */
.blue-box--wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform var(--transmition-timing) var(--transmition-function);
}

@media screen and (min-width: 768px) {
  .blue-box--wrapper {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .blue-box--wrapper {
    width: 100%;
    height: 100%;
  }
}

.project-grid__link:hover .blue-box--wrapper,
.project-grid__link:focus .blue-box--wrapper {
  transition: transform var(--transmition-timing) var(--transmition-function);
  transform: translateY(0%);
}

.blue-box__text {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px auto 24px;
}

@media screen and (min-width: 480px) {
  .blue-box__text {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .blue-box__text {
    width: 354px;
    padding: 49px 24px auto 24px;
  }
}

@media screen and (min-width: 1200px) {
  .blue-box__text {
    width: 370px;
    padding: 63px 24px;
  }
}

/* modal window */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--disposition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transmition-timing) var(--transmition-function), visibility var(--transmition-timing) var(--transmition-function);
}

.modal--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-white-color);
  box-shadow: var(--box-shadow-sec-color);
  border-radius: 4px;
  transition: transform var(--transmition-timing) var(--transmition-function), opacity var(--transmition-timing) var(--transmition-function);
}

@media screen and (min-width: 480px) {
  .modal--wrapper {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal--wrapper {
    width: 528px;
  }
}

.form--disposition {
  width: 100%;
  padding: 40px;
}

.form__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color-black);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field--mb {
  margin-bottom: 20px;
}

.form__label,
.form__text {
  display: block;
}

.form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
}

.form__input:hover, .form__input:focus {
  border: 1px solid var(--accent-color);
}

.form__input,
.form__comment {
  display: block;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  caret-color: var(--accent-color);
  outline: transparent;
  transition: border var(--transmition-timing) var(--transmition-function);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--logo-color-black);
  vertical-align: middle;
  transition: fill var(--transmition-timing) var(--transmition-function);
  cursor: pointer;
}

.form__input:hover + .form__icon, .form__icon:hover,
.form__input:focus + .form__icon, .form__icon:focus {
  fill: var(--accent-color);
}

.form__comment {
  resize: none;
  font-size: 14px;
  line-height: 1.17;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.form__comment:hover, .form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */
.checkbox-agreement--disposition {
  margin-bottom: 30px;
}

.checkbox-agreement__label {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function);
}

.checkbox-agreement__input {
  position: absolute;
  appearance: none;
}

.checkbox-agreement__input:checked + .checkbox-agreement__icon {
  outline: none;
}

.checkbox-agreement__input:checked + .checkbox-agreement__icon .checkbox-agreement__svg {
  opacity: 1;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.checkbox-agreement__icon {
  width: 16px;
  height: 15px;
  margin-right: auto;
  padding: 0;
  border-radius: 2px;
  outline: 1.5px solid var(--secondary-txt-color);
  outline-offset: -1.5px;
  margin-right: 7px;
  vertical-align: middle;
}

.checkbox-agreement__svg {
  display: flex;
  align-items: baseline;
  width: 16px;
  height: 15px;
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function), background-color var(--transmition-timing) var(--transmition-function);
  opacity: 1;
  cursor: pointer;
}

.checkbox-agreement__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .checkbox-agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-agreement__link {
  color: var(--accent-color);
}

.checkbox-agreement__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 50px;
  padding: 10px 55px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--hero-btn-shadow);
  transition: background-color var(--transmition-timing) var(--transmition-function);
}

.checkbox-agreement__btn:hover, .checkbox-agreement__btn:focus {
  background-color: var(--btn-color-hover);
}

/* Close btn */
.modal-close--disposition {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  background-color: transparent;
  cursor: pointer;
}

.modal-close--disposition:hover .modal-close__icon,
.modal-close--disposition:focus .modal-close__icon {
  fill: var(--accent-color);
}

.modal-close__icon {
  fill: var(--logo-color-black);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1000;
  border: none;
  background-color: transparent;
  outline: transparent;
  margin-left: auto;
  fill: black;
  transition: transform var(--transmition-function --transmition-timing);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
  transition: fill transform var(--transmition-function --transmition-timing);
}

.menu-btn__icon {
  width: 40px;
  height: 40px;
  transition: fill var(--transmition-function --transmition-timing);
}

.menu-btn .menu-btn__icon-open {
  opacity: 1;
}

.menu-btn.is-active .menu-btn__icon-close {
  position: fixed;
  fill: var(--logo-color-black);
  opacity: 1;
}

.menu-btn.is-active .menu-btn__icon-close .menu-btn.is-active .menu-btn__icon-close:hover,
.menu-btn.is-active .menu-btn__icon-close .menu-btn.is-active .menu-btn__icon-close:focus {
  fill: var(--accent-color);
  transition: fill transform var(--transmition-function --transmition-timing);
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}

.menu-btn .menu-btn__icon-close {
  opacity: 0;
}

.mobile-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(100%);
  transition: transform var(--transmition-timing) var(--transmition-function);
  visibility: hidden;
  pointer-events: none;
  background-color: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .mobile-overlay {
    display: none;
  }
}

.mobile-overlay.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  padding: 48px 20px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    padding: 48px 40px;
  }
}

.mobile-nav__list {
  margin-bottom: 302px;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-color);
  text-decoration: none;
  transition: color var(--transmition-timing) var(--transmition-function);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__item:hover, .mobile-nav__item:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-nav--acent {
  color: var(--accent-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu--accent-color {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu--accent-color {
    font-size: 34px;
    line-height: 1.17;
  }
}

.mobile-menu__link {
  margin-bottom: 64px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-social__list {
  display: flex;
}

.mobile-social__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__link {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */