:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-txt-color: #757575;
  --secondary-txt-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-color-black: #000000;
  --secondary-bg-color: #2f303a;
  --bg-color-hero: rgba(47, 48, 58, 0.4);
  --btn-bg-color: #f5f4fa;
  --bg-second-color: #c4c4c4;
  --btn-color-hover: #188ce8;
  --bg-line-color: #ececec;
  --bg-frame-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-color-bg: #44454e;
  --order-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  --rgba-white-color: rgba(255, 255, 255, 0.6);
  --box-shadow-color: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --box-shadow-sec-color: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-carts: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  --transmition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transmition-timing: 250ms;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-white-color);
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* <!-- Header section --> */
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
.header {
  border-bottom: 1px solid var(--bg-line-color);
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex-class {
  display: flex;
  align-items: baseline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.cancel-padding {
  padding-top: 0px;
}
.container-nav {
  border-bottom: 1px solid var(--bg-line-color);
}
.logo-up {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  background-color: var(--main-white-color);
  color: var(--accent-color);
  text-decoration: none;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-halph {
  color: var(--logo-color-black);
  text-decoration: none;
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

.site-nav .nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 10px;
  fill: var(--main-txt-color);
}
.nav-link:hover .contacts-icon,
.nav-link:focus .contacts-icon {
  fill: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--secondary-txt-color);
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transmition-timing) var(--transmition-function);
  position: relative;
}
.border::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: opacity var(--transmition-timing) var(--transmition-function);
}

.clarification {
  color: var(--main-txt-color);
}

.contacts {
  margin-left: auto;
}
.contacts .nav-item:not(:last-child) {
  margin-right: 50px;
}

/* Main section */
.hero {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
.overlay {
  max-width: 1600px;
  background-image: linear-gradient(
      to bottom,
      var(--bg-color-hero),
      var(--bg-color-hero)
    ),
    url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-second-color);
}

.title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.order-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--order-btn-shadow);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 50px;

  transition: color var(--transmition-timing) var(--transmition-function);
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--btn-color-hover);
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transmition-timing) var(--transmition-function),
    visibility var(--transmition-timing) var(--transmition-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: var(--main-white-color);
  box-shadow: var(--box-shadow-sec-color);
  border-radius: 4px;
  transition: transform var(--transmition-timing) var(--transmition-function),
    opacity var(--transmition-timing) var(--transmition-function);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  margin: 0;
  padding: 6px;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;

  background-color: transparent;
  cursor: pointer;
}

.icon-close {
  fill: var(--logo-color-black);
  transition: fill var(--transmition-timing) var(--transmition-function);
}
.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: var(--accent-color);
}

.form {
  width: 100%;
  padding: 40px;
}
.form-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color-black);

  margin-bottom: 12px;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}
.form-label {
  display: block;
}

.modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--logo-color-black);
  vertical-align: middle;
  transition: fill var(--transmition-timing) var(--transmition-function);
  cursor: pointer;
}

.form-input:hover + .modal-icon,
.modal-icon:hover,
.form-input:focus + .modal-icon,
.modal-icon:focus {
  fill: var(--accent-color);
}

.form-span {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
  margin-bottom: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
}

.form-input:hover,
.form-input:focus,
.comment-window:hover,
.comment-window:focus {
  border: 1px solid var(--accent-color);
}

.form-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;

  margin: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 50px;

  padding: 10px 55px;

  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--order-btn-shadow);
  transition: background-color var(--transmition-timing)
    var(--transmition-function);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--btn-color-hover);
}
.comment-label {
  display: block;
}
.comment-window {
  resize: none;
  font-size: 14px;
  line-height: 1.17;

  width: 100%;
  height: 120px;
  padding: 12px 16px;
}
.comment-window,
.form-input {
  display: block;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  caret-color: var(--accent-color);
  outline: transparent;
  transition: border var(--transmition-timing) var(--transmition-function);
}
.comment-window::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field + .mb20 {
  margin-bottom: 20px;
}
.form-field + .mb30 {
  margin-bottom: 30px;
}

.icon-span {
  width: 16px;
  height: 15px;
  margin-right: auto;
  padding: 0;
  border-radius: 2px;
  outline: 1.5px solid var(--secondary-txt-color);
  outline-offset: -1.5px;
  margin-right: 7px;
  vertical-align: middle;
}

.input-checkbox {
  position: absolute;
  appearance: none;
  /* z-index: -1;
  opacity: 0;
  margin-left: -13px; */
}
.svg-check {
  display: flex;
  width: 16px;
  height: 15px;
  fill: var(--main-white-color);

  transition: fill var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);
  opacity: 1;
  cursor: pointer;
}

.input-checkbox:checked + .icon-span .svg-check {
  opacity: 1;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.input-checkbox:checked + .icon-span {
  outline: none;
}

.label-agreement {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: fill var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);
}
.agreement-link {
  color: var(--accent-color);
}
.agreement-span {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
}

.content-list {
  display: flex;
}
.list-description {
  flex-wrap: wrap;
  width: calc((100% - 90px) / 4);
}
.list-description:not(:last-child) {
  margin-right: 30px;
}
.futures {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: var(--btn-bg-color);
  margin-bottom: 30px;
}
.futures-svg {
  height: 70px;
  width: 70px;
}
.content {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
.text-content {
  flex-wrap: wrap;
}
.work-container,
.team-container {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-txt-color);
}
.work-container {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .work-content:not(:first-child) {
  margin-left: 30px;
}
.work-content {
  font-size: 0px;
}

.work-box {
  position: relative;
}
.work-text {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  color: var(--main-white-color);
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.position-team {
  color: var(--main-txt-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

.team-socials {
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: var(--main-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color var(--transmition-timing)
    var(--transmition-function);
}
.team-socials .social-item:not(:first-child) {
  margin-left: 10px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}
.social-icon {
  fill: var(--icon-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-color);

  margin: 0px;
  margin-bottom: 10px;
}
.bg-color {
  background-color: var(--btn-bg-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-container {
  margin-bottom: 50px;
}
.team-items {
  background: var(--main-white-color);
  box-shadow: var(--box-shadow-sec-color);

  margin-right: 30px;
  font-size: 0px;
}
.team-list .team-items:nth-child(4n) {
  margin-right: 0;
}
.project-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-shows {
  min-width: 73px;
  max-width: 200px;
  min-height: 38px;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  color: var(--secondary-txt-color);
  cursor: pointer;

  padding: 6px 22px;
  min-width: 73px;

  transition: color var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function),
    box-shadow var(--transmition-timing) var(--transmition-function);
}
.btn-shows:hover,
.btn-shows:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-color);
}
.project-btn .btn-item:not(:last-child) {
  margin-right: 8px;
}
.container-project {
  display: flex;
  flex-wrap: wrap;
}

.project-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.container-project .project-list:nth-child(3n) {
  margin-right: 0px;
}
.project-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-list,
.img {
  font-size: 0px;
}

.link-projects {
  display: block;
  font-style: normal;
  color: var(--main-txt-color);
  text-decoration: none;
  transition: box-shadow var(--transmition-timing) var(--transmition-function);
}

.link-projects:hover,
.link-projects:focus {
  box-shadow: var(--box-shadow-carts);
}

.project-some {
  display: block;
  position: relative;
  overflow: hidden;
}
.blue-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform var(--transmition-timing) var(--transmition-function);
}
.box-text {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.link-projects:hover .blue-box,
.link-projects:focus .blue-box {
  transition: transform var(--transmition-timing) var(--transmition-function);
  transform: translateY(0%);
}

.project-detals {
  padding: 20px 24px;
  border-left: 1px solid var(--bg-frame-color);
  border-right: 1px solid var(--bg-frame-color);
  border-bottom: 1px solid var(--bg-frame-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;
}
.title-text {
  font-size: 16px;
  line-height: 1.88;
}
.regular-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-txt-color);
  margin: 0px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
}
.btn-svg {
  fill: var(--icon-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}
.client-item {
  height: 92px;
  width: calc((100% - 150px) / 6);
}

.link-client {
  display: flex;
  height: 92px;
  font-size: 0;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;

  transition: fill var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function),
    border var(--transmition-timing) var(--transmition-function);
}
.clients-list .client-item:not(:first-child) {
  margin-left: 30px;
}
.link-client:hover,
.link-client:focus {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.link-client:hover .btn-svg,
.link-client:focus .btn-svg {
  fill: var(--accent-color);
}

/* Footer section */
.footer-box {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-down {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 20px;
}
.halph-logo {
  color: var(--main-white-color);
  text-decoration: none;
}

.logo-halph {
  color: var(--logo-color-black);
  text-decoration: none;
}

.contacts-down .contacts-links:not(:last-child) {
  margin-bottom: 9px;
}

.links-down,
.maps-links {
  font-style: normal;
  color: var(--rgba-white-color);
  text-decoration: none;
  transition: color var(--transmition-timing) var(--transmition-function);
}
.maps {
  color: var(--main-white-color);
}
.contacts-links .links-down:hover,
.contacts-links .links-down:focus {
  color: var(--accent-color);
}

.networks-block {
  align-items: baseline;
}
.networks-list {
  display: flex;
}
.join-title {
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-white-color);
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.contacts-block {
  flex-grow: 1;
  margin-right: 70px;
}

.networks-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--icon-color-bg);
  border-radius: 50%;
  transition: color var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);
}
.networks-list .networks-item:not(:first-child) {
  margin-left: 10px;
}

.networks-link:hover,
.networks-link:focus {
  background-color: var(--accent-color);
}

.link-icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}

.subscribe {
  margin-left: 93px;
  align-items: baseline;
}
.subscribe-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 358px;
  height: 50px;
  align-items: baseline;

  color: var(--main-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: var(--order-btn-shadow);

  margin-right: 12px;
  outline: transparent;
  cursor: pointer;
}
.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  vertical-align: baseline;
  width: 200px;
  height: 50px;

  padding: 0;
  border: 0;

  border-radius: 4px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--order-btn-shadow);
  transition: box-shadow var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);
  cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--btn-color-hover);
}
.sub-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  fill: var(--main-white-color);
}

.subscribe-title {
  display: block;
  font-weight: 700;
  line-height: 1.17;
  font-size: 14px;
  color: var(--main-white-color);
  margin-bottom: 20px;
}
