:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-txt-color: #757575;
  --secondary-txt-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-color-black: #000000;
  --secondary-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --rgba-white-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--main-font);
  background-color: var(--main-white-color);
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

/* <!-- Header section --> */

ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-up {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  background-color: var(--main-white-color);
  color: var(--accent-color);
  text-decoration: none;
}
.logo-halph {
  color: var(--logo-color-black);
  text-decoration: none;
}
.site-nav .nav-link.current {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-link {
  color: var(--secondary-txt-color);
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.post-links,
.mobile-links {
  color: var(--main-txt-color);
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.post-links:hover,
.post-links:focus {
  color: var(--accent-color);
  background-color: var(--main-white-color);
  text-decoration: none;
}

.mobile-links:hover,
.mobile-links:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* Main section */
.hero {
  background-color: var(--secondary-bg-color);
}
.title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.order-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
}

.work-conteiner,
.team-conteiner {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-txt-color);
}

.about-team {
  background-color: var(--btn-bg-color);
}

.items-cards {
  border-radius: 0px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-color);
}
.position-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.btn-shows:hover,
.btn-shows:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-shows {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  color: var(--secondary-txt-color);
  padding: 6px 22px;
  box-shadow: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
}
.title-text {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer section */
.footer-box {
  background-color: var(--secondary-bg-color);
}
.logo-down {
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
}
.halph-logo {
  color: var(--main-white-color);
  text-decoration: none;
}
.logo-halph {
  color: var(--logo-color-black);
  text-decoration: none;
}

.maps-links {
  font-style: normal;
  color: var(--main-white-color);
  text-decoration: none;
}
.maps-links:hover,
.maps-links:focus {
  color: var(--accent-color);
}

.mail-down,
.phone-down {
  font-style: normal;
  color: var(--rgba-white-color);
  text-decoration: none;
}

.mail-down:hover,
.mail-down:focus {
  color: var(--accent-color);
}

.phone-down:hover,
.phone-down:focus {
  color: var(--accent-color);
}
