/* Close btn */
.modal-close--disposition {
  position: absolute;
  top: 8px;
  right: 8px;

  margin: 0;
  padding: 6px;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  
  background-color: transparent;
  cursor: pointer;

&:hover .modal-close__icon,
&:focus .modal-close__icon {
  fill: var(--accent-color);
}
&:focus {
  outline: 2px solid rgb(22, 49, 182);
}
&:hover {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
}

.modal-close__icon {
  fill: var(--logo-color-black);
  transition: fill var(--transmition-timing) var(--transmition-function);
}