/* Contacts */
.contacts {
  display: none;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 84px;

  @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
    display: block;

    &__item:not(:last-child) {
        margin-bottom: 10px;
      }
  }

  @include decktop {
    display: flex;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.17;

    & .contacts__item:not(:last-child) {
    margin-right: 30px;
    }
  }
}
.contacts__link {
  color: var(--secondary-txt-color);

  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color var(--transmition-timing) var(--transmition-function);
  color: var(--main-txt-color);

  @media screen and (min-width: $tablet) and (max-width: 1199.98px) {
    display: flex;
    line-height: 1.14;
    font-style: 14px;

  &--email {
    padding-top: 21px;
    }
  &--phone {
    padding-bottom: 21px;
    }
  }

@include decktop {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
    &:focus {
      color: var(--accent-color);
      text-decoration: none;
    }

    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--accent-color);
    }
}

.contacts__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  margin-right: 8px;
  fill: var(--main-txt-color);

  @include decktop {
  vertical-align: middle;
  margin-right: 10px;
  &--email-width {
      width: 16px;
      height: 12px;
    }
  
    &--phone-width {
      width: 10px;
      height: 16px;
    }
  }

  .contacts__link:hover &,
  .contacts__link:focus & {
  fill: var(--accent-color);
}
  .site-nav__link:hover &,
  .site-nav__link:focus & {
    fill: var(--accent-color);
}
}






