/* Close btn */
.modal-close--disposition {
  position: absolute;
  top: 8px;
  right: 8px;

  margin: 0;
  padding: 6px;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;

  background-color: transparent;
  cursor: pointer;
}

.modal-close--disposition:hover .modal-close__icon,
.modal-close--disposition:focus .modal-close__icon {
  fill: var(--accent-color);
}

.modal-close__icon {
  fill: var(--logo-color-black);
  transition: fill var(--transmition-timing) var(--transmition-function);
}