.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
  width: 480px;
  }

@media screen and (min-width: $tablet) {
  width: 768px;
  &__header {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $desktop) {
  width: 1200px;
}
}

.container__footer {
  display: flex;
  flex-flow: column;
  align-items: center;

@media screen and (min-width: $tablet) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

  @media screen and (min-width: $desktop) {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  }

}
