.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


@media screen and (min-width: $tablet) {
  width: 768px;
  &__header {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $desktop) {
  width: 1200px;
}
}

.container__footer {
  display: flex;
  // justify-content: flex-end;
  align-items: baseline;
}
.container__header {
  display: flex;
}
