/* features */
.features {
  
@include tablet {
    display: flex;
    flex-wrap: wrap;
  }
@include decktop {
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

@include tablet {
    height: 251px;
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;

    &:nth-child(n+3) {
    margin-bottom: 0px;
    }

   &:nth-child(2n+1) {
    margin-right: 30px;
    }
  }

@include decktop {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--btn-bg-color);
  margin-bottom: 30px;

@include tablet {
    margin-bottom: 30px;
  }
@include decktop {
    width: 270px;
    margin-bottom: 30px;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;

@include tablet {
    text-align: left;
  }
}

.features__text {
  flex-wrap: wrap;
}