/* features */
.features {
  min-width: 450px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  min-width: 450px;


  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    
    width: ((100% - 30px) / 2);
    margin-right: 30px;

  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    // height: 226px;
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--btn-bg-color);
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
  margin-top: 0px;
  margin-bottom: 10px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.features__text {
  flex-wrap: wrap;
}