/* Futures */
.futures-list--flex {
display: flex;
}
.futures__item {
  flex-wrap: wrap;
  width: calc((100% - 90px) / 4);
}

.futures__item:not(:last-child) {
  margin-right: 30px;
}

.futures__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: var(--btn-bg-color);
  margin-bottom: 30px;
}

.futures__image {
  height: 70px;
  width: 70px;
}

.futures__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.futures__text {
  flex-wrap: wrap;
}