/* Hero */
.hero {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;

  max-width: 1600px;
  background-image: linear-gradient(to bottom,
      var(--bg-color-hero),
      var(--bg-color-hero)),
    url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-second-color);
}

.hero__title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--hero-btn-shadow);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  min-width: 200px;
  max-width: 300px;
  min-height: 50px;

  transition: color var(--transmition-timing) var(--transmition-function);

&:hover,
&:focus {
  background-color: var(--btn-color-hover);
}
}

