/* modal window */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--disposition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transmition-timing) var(--transmition-function),
    visibility var(--transmition-timing) var(--transmition-function);
}

.modal--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  background-color: var(--main-white-color);
  box-shadow: var(--box-shadow-sec-color);
  border-radius: 4px;
  transition: transform var(--transmition-timing) var(--transmition-function),
    opacity var(--transmition-timing) var(--transmition-function);
}

.form--disposition {
  width: 100%;
  padding: 40px;
}

.form__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-color-black);

  margin-bottom: 12px;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field--mb {
  margin-bottom: 20px;
}

.form__label,
.form__text {
  display: block;
}

.form__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
}

.form__input,
.form__comment {
  display: block;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  caret-color: var(--accent-color);
  outline: transparent;
  transition: border var(--transmition-timing) var(--transmition-function);
}

.form__input:hover,
.form__input:focus,
.form__comment:hover,
.form__comment:focus {
  border: 1px solid var(--accent-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  fill: var(--logo-color-black);
  vertical-align: middle;
  transition: fill var(--transmition-timing) var(--transmition-function);
  cursor: pointer;
}

.form__input:hover+.form__icon,
.form__icon:hover,
.form__input:focus+.form__icon,
.form__icon:focus {
  fill: var(--accent-color);
}

.form__comment {
  resize: none;
  font-size: 14px;
  line-height: 1.17;

  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}