/* Networks */
.networks {
  align-items: baseline;
  margin-bottom: 60px;

@include decktop {
  margin-bottom: 20px;
}

  &__title {
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-white-color);
  margin-bottom: 20px;
  padding-bottom: 0px;
  text-align: center;


@include decktop {
  text-align: left;
  }
}
.networks-list--flex {
  display: flex;
  align-items: baseline;
}
}
.networks__item:not(:last-child) {
  margin-right: 10px;
}
.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--icon-color-bg);
  border-radius: 50%;
  transition: color var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.link__icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}