/* Networks */
.networks {
  align-items: baseline;
}

.networks__title {
  font-size: 14px;
  line-height: 1.17;
  color: var(--main-white-color);
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.networks-list--flex {
  display: flex;
  align-items: baseline;
}
.networks__item:not(:first-child) {
  margin-left: 10px;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: var(--icon-color-bg);
  border-radius: 50%;
  transition: color var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function);
}

.networks__link:hover,
.networks__link:focus {
  background-color: var(--accent-color);
}

.link__icon {
  fill: var(--main-white-color);
  transition: fill var(--transmition-timing) var(--transmition-function);
}