.blue-box {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform var(--transmition-timing) var(--transmition-function);
}
.link-projects:hover .blue-box,
.link-projects:focus .blue-box {
  transition: transform var(--transmition-timing) var(--transmition-function);
  transform: translateY(0%);
}
.box-text {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
