.project-detals {
  padding: 20px 24px;
  border-left: 1px solid var(--bg-frame-color);
  border-right: 1px solid var(--bg-frame-color);
  border-bottom: 1px solid var(--bg-frame-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;
}
.title-text {
  font-size: 16px;
  line-height: 1.88;
}