/* Project */
.project-grid {
  display: flex;
  flex-wrap: wrap;
}

.project-grid__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  font-size: 0px;

  &:nth-child(3n) {
  margin-right: 0px;
}

&:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
}
.project-grid__link {
  display: block;
  font-style: normal;
  color: var(--main-txt-color);
  text-decoration: none;
  transition: box-shadow var(--transmition-timing) var(--transmition-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-carts);
  }
}

.project-grid__wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}