/* Regular clients */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-txt-color);
  margin: 0px;
  margin-bottom: 50px;
}

.client-list_disposition {
  display: flex;
  flex-wrap: wrap;
}

.client__item {
  height: 92px;
  width: calc((100% - 150px) / 6);

  &:not(:first-child) {
  margin-left: 30px;
}
}

.client__link {
  display: flex;
  height: 92px;
  font-size: 0;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;

  transition: fill var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function),
    border var(--transmition-timing) var(--transmition-function);

&:hover,
&:focus {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
}

.client__image {
  fill: var(--icon-color);
  transition: fill var(--transmition-timing) var(--transmition-function);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }

}