.section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-txt-color);
    margin: 0px;
    margin-bottom: 30px;


@include decktop {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    }
}