/* blue-box */
.blue-box--wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform var(--transmition-timing) var(--transmition-function);
  width: 100%;
  height: 100%;
  @media screen and (min-width: $tablet) {
  width: 354px;
  }

  @media screen and (min-width: $desktop) {
  width: 100%;
  height: 100%;
}

.project-grid__link:hover &,
.project-grid__link:focus & {
    transition: transform var(--transmition-timing) var(--transmition-function);
    transform: translateY(0%);
  }
}

.blue-box__text {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px auto 24px;

  @media screen and (min-width: $mobile) {
  width: 450px;
  }
  @media screen and (min-width: $tablet) {
  width: 354px;
  padding: 49px 24px auto 24px;
  }
  @media screen and (min-width: $desktop) {
  width: 370px;
  padding: 63px 24px;
}
}
