/* Panel-btn */
.panel-btn--disposition {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px 8px;
  margin-bottom: 30px;


@include mobile {
  margin-bottom: 40px;
}
@include tablet {
  justify-content: center;
  margin-bottom: 30px;
}
@include decktop {
  margin-bottom: 50px;
}
}

.panel-btn__button {
  min-width: 73px;
  max-width: 200px;
  min-height: 38px;
  display: inline-block;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: var(--btn-bg-color);
  color: var(--secondary-txt-color);
  cursor: pointer;

  padding: 6px 22px;

  transition: color var(--transmition-timing) var(--transmition-function),
    background-color var(--transmition-timing) var(--transmition-function),
    box-shadow var(--transmition-timing) var(--transmition-function);

  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-color);
  }
}

