/* Project */
.project-grid {

@include tablet {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
}

.project-grid__item {
max-width: 450px;

@media screen and (max-width: 768px) {
  &:not(:last-child) {
  margin-bottom: 30px;
}
}

@include tablet {
  width: calc((100% - 30px)/2);
}
@include decktop {
  flex-basis: calc((100% - 60px)/3);
}
}

.project-grid__link {
  color: var(--main-txt-color);
  text-decoration: none;
  transition: box-shadow var(--transmition-timing) var(--transmition-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-carts);
  }

  @include tablet {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-style: normal;
  }

}

.project-grid__wrapper {
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.project-grid__card {
height: auto;
width: 100%;

@include tablet {
  height: 294px;
}
@include decktop {
  width: 370px;
}
}

.project-grid__detals {
  flex-grow: 1;

  padding: 20px 24px;
  border: 1px solid var(--bg-frame-color);
  border-top-width: 0;

@include mobile {
  width: 450px;
}
@media screen and (min-width: $tablet) and (max-width: 1199px) {
  // width: 354px;
  width: 100%;
}
@include decktop {
  width: 370px;
}
}

.project-grid__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;
}

.project-grid__text {
  font-size: 16px;
  line-height: 1.88;
}
