/* Project */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

@include tablet {
  flex-direction: row;
}

}
.project-grid__item {
  font-size: 0px;
  width: 450px;

@include mobile {
  flex-basis: calc((100% - 30px) 2);
  width: 354px;
}

@include desktop {
  width: calc((100% - 60px) / 3);
}
}

.project-grid__link {
  display: block;
  font-style: normal;

  color: var(--main-txt-color);
  text-decoration: none;
  transition: box-shadow var(--transmition-timing) var(--transmition-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-carts);
  }
}

.project-grid__wrapper {
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.project-grid__card {
width: auto;

@include mobile {
  width: 450px;
}
@include tablet {
  width: 354px;
}
@include desktop {
  width: 370px;
}
}

.project-grid__detals {
  padding: 20px 24px;
  border-left: 1px solid var(--bg-frame-color);
  border-right: 1px solid var(--bg-frame-color);
  border-bottom: 1px solid var(--bg-frame-color);

@include mobile {
  width: 450px;
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  width: 354px;
}

@include desktop {
  width: 370px;
}
}

.project-grid__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-color);
  margin-bottom: 4px;

@media screen and (min-width: $tablet) and (max-width: 1199px) {
  font-size: 17.3px;
}
}

.project-grid__text {
  font-size: 16px;
  line-height: 1.88;
}
