.menu-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  z-index: 1000;

  border: none;
  background-color: transparent;
  outline: transparent;
  margin-left: auto;
  fill: black;
  cursor: pointer;

  & .menu-btn__icon-close,
  & .menu-btn__icon-open {
  transition: fill var(--transmition-function) var(--transmition-timing);
}

&.is-active {
      position: fixed;
      top: 10px;
      right: 15px;
}

@include tablet {
    & {
      display: none;
    }
  }
}

.menu-btn__icon {
  width: 40px;
  height: 40px;
  fill: var(--logo-color-black);

&:hover .menu-btn__icon-close,
&:focus .menu-btn__icon-close,
&:hover .menu-btn__icon-open,
&:focus .menu-btn__icon-open {
  fill: var(--accent-color);
}
}

.menu-btn .menu-btn__icon-open {
  opacity: 1;
}
.menu-btn.is-active .menu-btn__icon-close {
  opacity: 1;
}

.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}
.menu-btn .menu-btn__icon-close {
  opacity: 0;
}