.mobile-menu__list {
  margin-bottom: 64px;
}
.mobile-menu--accent-color {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  font-size: 34px;
  
  @include mobile {
  line-height: 1.17;
  }
}
.mobile-menu__link {
  margin-bottom: 64px;
  transition: color var(--transmition-function) var(--transmition-timing);

&:hover,
&:focus {
  color: var(--accent-color);
}
}
.mobile-menu__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-txt-color);
  &:not(:last-child) {
    margin-bottom: 32px;
}
}