.mobile-nav__list {
    margin-bottom: 40px;
}
.mobile-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);
    text-decoration: none;

    &:not(:last-child) {
    margin-bottom: 32px;
    }
}
.mobile-nav__link {
    transition: color var(--transmition-function) var(--transmition-timing);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}
.mobile-nav--acent {
    color: var(--accent-color);
}
