.menu-btn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;

  position: relative;
  z-index: 1000;

  border: none;
  background-color: transparent;
  outline: transparent;
  margin-left: auto;
  fill: black;
  transition: transform var(--transmition-function --transmition-timing);

  @media screen and (min-width: $tablet) {
    & {
      display: none;
    }
  }

&:hover,
&:focus {
  fill: var(--accent-color);
  transition: fill transform var(--transmition-function --transmition-timing);
}
}

.menu-btn__icon {
  width: 40px;
  height: 40px;
  transition: fill var(--transmition-function --transmition-timing);
}

.menu-btn .menu-btn__icon-open {
  opacity: 1;
}
.menu-btn.is-active .menu-btn__icon-close {
  position: fixed;
  fill: var(--logo-color-black);
  opacity: 1;

.menu-btn.is-active .menu-btn__icon-close:hover,
.menu-btn.is-active .menu-btn__icon-close:focus {
  fill: var(--accent-color);
  transition: fill transform var(--transmition-function --transmition-timing);
}
}
.menu-btn.is-active .menu-btn__icon-open {
  opacity: 0;
}
.menu-btn .menu-btn__icon-close {
  opacity: 0;
}




