@import "./reset";

body {
  font-family: var(--main-font);
  background-color: var(--main-white-color);
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-size: 0;
}
