.button-menu {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
  & {
    display: none;
  }
  }
}

.button-menu .button-icon__cross {
  display: none;
}

.button-menu .is--open .button-icon__cross {
  display: block;
}

.button-menu .is--open .button-icon__menu {
  display: none;
}

// .button-icon__cross {
//   display: block;
// }