.site-nav--flex {
  display: flex;
  align-items: baseline;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: flex;
  align-items: center;
  color: var(--secondary-txt-color);
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transmition-timing) var(--transmition-function);
  position: relative;

&--current {
  color: var(--accent-color);
}

&:hover,
&:focus {
  color: var(--accent-color);
  text-decoration: none;
}
}