.header__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  background-color: var(--main-white-color);
  color: var(--accent-color);
  text-decoration: none;

  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  // padding-top: 24px;
  // padding-bottom: 25px;
  margin-right: 93px;

    @media screen and (min-width: $tablet) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  
    @media screen and (min-width: $desktop) {
      padding-top: 24px;
      padding-bottom: 21px;
    }


}

.logo-dark {
  color: var(--logo-color-black);
  text-decoration: none;
}
